@font-face {
    font-family: 'Gill Sans Nova Inline';
    src: url('GillSansNovaInline-Bold.woff2') format('woff2'),
        url('GillSansNovaInline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

